@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Definimos los colores como variables en :root */
:root {
    /* Neutrales */
    --neutral-0: hsl(200, 60%, 99%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-900: hsl(227, 75%, 14%);

    /* Rojos */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
}

/* Gradientes */
@layer utilities {
    .light-gradient {
        background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    }

    .dark-gradient {
        background: linear-gradient(180deg, #040918 0%, #091540 100%);
    }
}